<form action="/api/posts/create" method="post">

    <label for="title">title</label>
    <input type="text" name="title" id="title" required>


    <label for="content">post: </label>
    <input type="text" name="content" id="content" required>


    <label for="published">publish</label>
    <input type="checkbox" name="published" id="published">
   

    <input type="submit" value="create">
</form>