<form action="/api/posts/create" method="post">
    <label for="post">post: </label>
    <input type="text" name="post" id="post" required>


    <label for="publish">publish</label>
    <input type="checkbox" name="publish" id="publish">
    <label for="un-publish">un-publish</label>
    <input type="checkbox" name="un-publish" id="un-publish">

    <input type="submit" value="create">
</form>